@model Newtonsoft.Json.Linq.JObject

<div class="blog-slider">
    <div class="blog-slider__wrp">
        @if (Model != null && Model.HasValues)
        {
            foreach (var blog in Model.Properties()) // Loop through the blog properties
            {
                var blogContent = blog.Value; // Access the content of each blog object

                <div class="blog-slider__item">
                    <div class="blog-slider__img">
                        <img src="@blogContent["image"]" alt="Blog Image" />
                    </div>
                    <div class="blog-slider__content">
                        <span class="blog-slider__code">@blogContent["date"]</span>
                        <div class="blog-slider__title">@blogContent["title"]</div>
                        <div class="blog-slider__text">@blogContent["content"]</div>
                        <a href="#" class="blog-slider__button">READ MORE</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No blogs available.</p>
        }
    </div>
</div>
<link rel="stylesheet" href="~/css/blog.css" />
