/* General settings */
html {
  font-size: 14px;
}

/* For larger screens */
@media (min-width: 768px) {
  html {
    font-size: 16px;
}
}

/* General body styling */
body {
  margin-bottom: 60px;
  background-color: #FFFBF5;
}

/* Navbar styling */
.navbar {
  background-color: #F2EBE4 !important;
  color: #000 !important;
  border-radiu